# Entornos virtuales
venv/
.venv/
/spot_fleet/config.conf
/spot_fleet/venv
*/config.conf
# Configuraciones sensibles
config.conf

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales o de sistema
*.log
*.tmp
*.swp
.DS_Store

# Archivos de IDEs
.vscode/
.idea/
